body {

    color: black;
  }

.jumbotron {
    background-image: url("../images/fifa.jpg");
    background-size: 900 450;
    text-align: center;
  }

  .form{
    font-family: inherit; 
    font-size: 1rem;}

    .table-bordered{
        border: 1px solid black;
      }
    
.tableau-center {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
  }